@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
/*  
article, aside, figure, footer, hgroup, nav, section { 
  display:block;
}*/

body { 
  font: normal .8em arial, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  color: #555;
}

#container { 
  background: transparent url(../images/grass.png) repeat-x bottom;
}

#container img{
  height: min-content;
  position: absolute;
  top: 0px;
  left: 0px;
}

#container {
  justify-content: center;
}

#main {
  border-radius: 3%;
  background-color: #fff;
  margin: 10px auto;
  width: 900px;
  height: 900px;
  
}

#cabecera{
  border-radius: 3%;
  background-image:  url('../images/logo.png');
  background-color: #555;
  margin:0 auto;
  width: 850px;
  height: 240px;
}

.nav {
  
  background-color: #53c7fd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-menu *{
  background-color: #53c7fd;
}

a{
  color: #fff;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
}

a:hover{
  color: #e5017d;
}